$font-stack: "Mulish", sans-serif;
$chartbg: #f1f5f9;
$radius13: 13px;
$padding20: 20px;
$fullwidth: 100%;
$fullheight: 100%;
$height: 300px;
$marginauto: 0 auto;
$colormain: #252d3b;
$colorblue: #2B1DFD;
$gery: #858999;
$Gcolor: #1d9b25;
$Rcolor: #d85972;
$Scolor: #de8965;
$Hcolor: #0d96f9;
$bluecircle: #2440cb;
$fntcolor: #2440cb;
$dropbg: #4e70ea;
$dropcolor: #dde5ff;
$dmgbg: #dde5ff;
$white: #ffffff;
$border: #4e70ea;
$btnbg: #dde5ff;
$bgcolor: #524ee1;
$lineinput: #c1c3cd;
$checkcolor: #556fe2;
$tabcntbg: #F3F6FF;
$spbg: #c1c3cd;
$chkinput: #c1c3cd;
$dropday: #c1c3cd;
$tabbg: #dde5ff;
$borderN: none;
$font10: 10px;
$font11: 11px;
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font16: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font28: 28px;
$font30: 30px;
$font34: 34px;
$font36: 36px;
$font38: 38px;
$weight4: 400;
$weight500: 500;
$weight6: 600;
$weight7: 700;
